---
import Layout from "../layouts/Layout.astro";
import { PlaylistComponent } from "../components/PlaylistComponent";
---

<Layout>
    <section>
        <h1>text</h1>
        <PlaylistComponent client:load/>
    </section>
</Layout>